.hiddenDiv {
    display: none;
  }
  .visibleDiv {
    display: block;
    width:auto; height:auto;
    border:none;
    -webkit-appearance:none;
    padding:6px 5px 5px 10px;
    font-size: 14px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    }
  .visibleDiv:focus {   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
  }
  .drctryFrm {
    margin-top:-200px;
  }
  .dropdown {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 5px 3px 5px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    width: 50%;
    font-size: 1.1em;
  }
  .dropdown:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 5px 3px 5px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }

  .dropdown:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 5px 3px 5px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }
  .search_by {
    display: none;
  }
  .search_by.show {
    display: block !important;
  }
  #results{
    vertical-align:top;
  }

  #results #table_results {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 684px;
  }
  /*TABLE LAYOUTS*/
  .table_scroll
  {
   /* width: 800px;
    max-height: 450px;
    /*height: auto;*/
    overflow: auto;*/
  }
  .half_width
  {
    /*width: 100%;*/
  }
  .label {
    /*color: gray;*/
  }
/*
@media(max-width: 680px){

  .responsive banner-form {
    float: left !important;
    position: static !important;
    width: 100% !important;
    padding-right: 0 !important;
  }

  .responsive div-results {
    width: 100% !important;
    padding-left: 0 !important;
  }

}*/

/*.dropdown {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 5px 3px 5px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
  .dropdown:focus, .dropdown:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 5px 3px 5px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }*/

.headerimg {
  width: 20em;
}

#div-results, #banner-form {
  font-family: Arial;
}

#banner-form
  {
    text-align: center;
    padding-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
  }

.reset_button_new
  {
    border: 1px solid;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #015daa;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    width: 10em;
    cursor: pointer;
  }

.reset_button_new:hover
  {
    background-color: white;
    color: #015daa;
    border: 1px solid;
    border-color: #015daa;
  }

.search_button_new
  {
    border: 1px solid;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #015daa;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    width: 10em;
    cursor: pointer;
  }

.search_button_new:hover
  {
    background-color: white;
    color: #015daa;
    border: 1px solid;
    border-color: #015daa;
  }

#div-results {
  min-width: 684px;
}

@media only screen and (max-width: 680px), only screen and (max-device-width: 680px) and (orientation:portrait) {
    body {
      display: block;
    }

    #div-results, #banner-form {
      font-size: 1.5em;
    }

    .dropdown {
      width: 98%;
      height: 1.5em;
      font-size: 1.5em;
      padding-left: 1%;
      padding-right: 1%;
    }
     #banner-form
    {
      width: 98%;
      text-align: center;
      padding-top: 2%;
      padding-left: 1%;
      padding-right: 1%;
    }
    #div-results
    {
      width: 98%;
      padding-top: 2%;
      padding-left: 1%;
      padding-right: 1%;
    }

    #results #table_results
    {
      width: 98%;
      padding-left: 1%;
      padding-right: 1%;
      padding-bottom: 15%;
    }

    #backToTopButton
    {
      width: 10em !important;
      bottom: 1%;
      right: 2%;
    }

    #backToTopButton:hover
    {
      -webkit-filter: drop-shadow(0px 2px 5px #222);
      filter: drop-shadow(0px 2px 5px #222);
    }
  }

  @media only screen and (max-width: 680px), only screen and (max-device-width: 680px) and (orientation:landscape) {
    body {
      display: block;
    }

    #div-results, #banner-form {
      font-size: 1.5em;
    }

    .dropdown {
      width: 98%;
      height: 1.5em;
      font-size: 1.5em;
      padding-left: 1%;
      padding-right: 1%;
    }
     #banner-form
    {
      width: 98%;
      text-align: center;
      padding-top: 2%;
      padding-left: 1%;
      padding-right: 1%;
    }
    #div-results
    {
      width: 98%;
      padding-top: 2%;
      padding-left: 1%;
      padding-right: 1%;
    }

    #results #table_results
    {
      width: 98%;
      padding-left: 1%;
      padding-right: 1%;
      padding-bottom: 15%;
    }

    #backToTopButton
    {
      width: 6em !important;
      bottom: 2%;
      right: 1%;
    }

    #backToTopButton:hover
    {
      -webkit-filter: drop-shadow(0px 2px 5px #222);
      filter: drop-shadow(0px 2px 5px #222);
    }
  }

#backToTopButton
{
  position: fixed;
  width: 60px;
  bottom: 2%;
  right: 1%;

}

#backToTopButton:hover {
  -webkit-filter: drop-shadow(0px 2px 5px #222);
  filter: drop-shadow(0px 2px 5px #222);
}

input{
    text-align:center;
}