@CHARSET "ISO-8859-1";

/*LIST*/
#list { font-size:12px;
}
#list .patient_list th { 	font-size:14px;
							border-bottom:2px solid #0039a6;
							/*border-top:2px solid #0039a6;*/
}
#list .patient_list td { 	font-size:12px;
							border-bottom:2px solid lightgrey;			
}

/*END*/

/*PATIENT*/
#patient { font-size:12px;
}
#patient .personal_info th { font-size:14px;
}
#patient .personal_info td { border-bottom:2px solid lightgrey;
}

/*END*/

/*NEWPATIENT*/
#newpatient { font-size:12px;
}
#newpatient th { font-size:14px;
} 
#newpatient #title { border-bottom:2px solid #0039a6; font-size:18px;
}
#newpatient input[type=file] {   /*border:2px solid lightgrey;
								 border-top:3px solid grey;
								 border-left:3px solid grey;
								 border: 1px solid #DDDDDD;*/					 
}
#newpatient input[type=text] {  	width:300px; height:25px;
									font-size: 14px;
									/*border: 1px solid #000;
									-moz-box-shadow:inset 2px 2px 5px #202020; /* Firefox */
									/*-webkit-box-shadow:inset 2px 2px 5px #202020; /* Safari, Chrome */
									/*box-shadow:inset 2px 2px 5px #202020; /* CSS3 */
									/*border:none;*/
									border: 1px solid #DDDDDD;
									-webkit-appearance:none;
									padding-left:5px;
									-webkit-transition: all 0.30s ease-in-out;
									-moz-transition: all 0.30s ease-in-out;
									-ms-transition: all 0.30s ease-in-out;
									-o-transition: all 0.30s ease-in-out;
}
#newpatient input[type=text]:focus, #newpatient textarea:focus, #newpatient select:focus {  
						/*background-image: url('../../image/HeaderBG.jpg');
						background-size:100% 100%;*/
						box-shadow: 0 0 5px rgba(81, 203, 238, 1);
					  	border: 2px solid rgba(81, 203, 238, 1);
					  	padding-left:5px;
}
#newpatient textarea {  width:300px; height:100px;
						/*border: 1px solid #000;
						-moz-box-shadow:inset 2px 2px 5px #202020; /* Firefox */
						/*-webkit-box-shadow:inset 2px 2px 5px #202020; /* Safari, Chrome */
						/*box-shadow:inset 2px 2px 5px #202020; /* CSS3 */
						/*border:none;*/
						font-size: 14px;
						border: 1px solid #DDDDDD;
						-webkit-transition: all 0.30s ease-in-out;
						-moz-transition: all 0.30s ease-in-out;
						-ms-transition: all 0.30s ease-in-out;
						-o-transition: all 0.30s ease-in-out;
						-webkit-appearance:none;
						padding:5px 5px 5px 5px;
}
#newpatient select { 	/*border:2px solid lightgrey;
						border-top:3px solid grey;
						border-left:3px solid grey;*/
						padding:5px 5px 5px 5px;
						border: 1px solid #DDDDDD;
						-webkit-transition: all 0.30s ease-in-out;
						-moz-transition: all 0.30s ease-in-out;
						-ms-transition: all 0.30s ease-in-out;
						-o-transition: all 0.30s ease-in-out;
}
/*#newpatient input[type=submit] { 
									background:url('../../image/add.png') no-repeat left;
									background-size:20px 20px;
									padding:5px 5px 5px 25px;
									cursor:pointer;
									-webkit-transition: all 0.30s ease-in-out;
									-moz-transition: all 0.30s ease-in-out;
									-ms-transition: all 0.30s ease-in-out;
									-o-transition: all 0.30s ease-in-out;														
}
#newpatient input[type=submit]:hover { 	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
					  					border: 2px solid rgba(81, 203, 238, 1);														
}*/
#newpatient input[type=submit] {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#newpatient input[type=submit]:hover {
	background:url('../../image/add_hover.png') no-repeat left;
	background-size:20px 20px;
	color: #fff;
	background-color: #0039a6;
}

#newpatient input[type=submit]:active {
	background:url('../../image/add_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}




/*END*/

/*TASK*/
#task { font-size:12px;
}
#task h1 { border-bottom:2px solid #0039a6; width:90%; margin-left:30px;
}
#task input[type=text] {	font-size: 14px;
							border: 1px solid #DDDDDD;
							-webkit-appearance:none;
							padding-left:5px;
							-webkit-transition: all 0.30s ease-in-out;
							-moz-transition: all 0.30s ease-in-out;
							-ms-transition: all 0.30s ease-in-out;
							-o-transition: all 0.30s ease-in-out;						
}
#task select { 	font-size: 14px;
				border: 1px solid #DDDDDD;
				-webkit-appearance:none;
				padding-left:5px;
				-webkit-transition: all 0.30s ease-in-out;
				-moz-transition: all 0.30s ease-in-out;
				-ms-transition: all 0.30s ease-in-out;
				-o-transition: all 0.30s ease-in-out;						
}
#task textarea {  	width:300px; height:100px;
					font-size: 14px;
					border: 1px solid #DDDDDD;
					-webkit-appearance:none;
					padding-left:5px;
					-webkit-transition: all 0.30s ease-in-out;
					-moz-transition: all 0.30s ease-in-out;
					-ms-transition: all 0.30s ease-in-out;
					-o-transition: all 0.30s ease-in-out;
}
#task textarea:focus, #task input[type=text]:focus, #task select:focus { 	
						box-shadow: 0 0 5px rgba(81, 203, 238, 1);
					  	border: 2px solid rgba(81, 203, 238, 1);
					  	padding-left:5px;
}
#task #add {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#task #add:hover {
	background:url('../../image/add_hover.png') no-repeat left;
	background-size:20px 20px;
	color: #fff;
	background-color: #0039a6;
}

#task #add:active {
	background:url('../../image/add_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}
#task #update {
	background:url('../../image/edit.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#task #update:hover {
	background:url('../../image/edit_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
   
}

#task #update:active {
	background:url('../../image/edit_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}
#task input[type=reset] {
	background:url('../../image/reset.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#task input[type=reset]:hover {
	background:url('../../image/reset_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
  
}

#task input[type=reset]:active {
	background:url('../../image/reset_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

/*
#task #update { 	background:url('../../image/edit.png') no-repeat left;
					background-size:25px 20px;
					padding:5px 5px 5px 25px;
					cursor:pointer;									
}
#task #add { 	background:url('../../image/add.png') no-repeat left;
				background-size:20px 20px;
				padding:5px 5px 5px 25px;
				cursor:pointer;									
}
#task input[type=reset] { 	background:url('../../image/reset.png') no-repeat left;
							background-size:20px 22px;
							padding:5px 5px 5px 25px;
							cursor:pointer;										
}
*/

#task .calendar { 	padding-left:250px;
					padding-right:250px;
}
#task .th_g { 	color:blue;
				font-size:12px;
}
#task .number_calendar { 	color:grey;
}
#task .month_year { 	color:#000;
						font-weight:bold;
						font-size:16px;
}


/*END*/

/*CALENDAR*/
#calendar { font-size:12px;
}
#calendar .calendar { 	padding-left:250px;
						padding-right:250px;
}
#calendar .th_g { 	color:blue;
					font-size:12px;
}
#calendar .number_calendar { 	color:grey;
}
#calendar .month_year { color:#000;
						font-weight:bold;
						font-size:16px;
}
/*END*/

/*QUEUE*/
#queue { font-size:12px;	
}
/*END*/

/*STATEMENT*/
#statement { font-size:12px; 
}
#statement h3 { 	border-bottom:2px solid #0039a6; width:75%; margin-left:12%;
					font-size:15.5px;
}
#statement h2 { 	border-bottom:2px solid #0039a6; width:80%; margin-left:10%;
					
}
#statement .update_fieldset { 	margin-left:12%;
}
#statement legend { 	font-weight:bold; font-size:15px;
}
#statement input[type=text] {  	width:auto; height:auto;
								/*border: 1px solid #000;
								-moz-box-shadow:inset 2px 2px 5px #202020; /* Firefox */
								/*-webkit-box-shadow:inset 2px 2px 5px #202020; /* Safari, Chrome */
								/*box-shadow:inset 2px 2px 5px #202020; /* CSS3 */
								border:none;
								-webkit-appearance:none;
								padding:6px 5px 5px 10px;
								font-size: 14px;
								border: 1px solid #DDDDDD;
								-webkit-transition: all 0.30s ease-in-out;
								-moz-transition: all 0.30s ease-in-out;
								-ms-transition: all 0.30s ease-in-out;
								-o-transition: all 0.30s ease-in-out;
}
#statement select { 	/*border:2px solid lightgrey;
						border-top:3px solid grey;
						border-left:3px solid grey;
						padding:2px 2px 2px 5px;*/
						width:auto; height:auto;
						font-size: 14px;
						border: 1px solid #DDDDDD;
						-webkit-appearance:none;
						padding:6px 5px 5px 10px;
						-webkit-transition: all 0.30s ease-in-out;
						-moz-transition: all 0.30s ease-in-out;
						-ms-transition: all 0.30s ease-in-out;
						-o-transition: all 0.30s ease-in-out;						
}
#statement input[type=text]:focus, #statement select:focus {  	/*background-image: url('../../image/HeaderBG.jpg');
									  							background-size:100% 100%;*/
									  							box-shadow: 0 0 5px rgba(81, 203, 238, 1);
															  	border: 2px solid rgba(81, 203, 238, 1);
}

#statement .today_statements {
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 3px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

#statement .today_statements:active {
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}


#statement #search {
	background:url('../../image/search.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#statement #search:hover {
	background:url('../../image/search_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
  
}

#statement #search:active {
	background:url('../../image/search_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

#statement #update {
	background:url('../../image/edit.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#statement #update:hover {
	background:url('../../image/edit_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;

}

#statement #update:active {
	background:url('../../image/edit_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}
#statement #cancel {
	background:url('../../image/cancel.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#statement #cancel:hover {
	background:url('../../image/cancel_hover.png') no-repeat left;
	background-size:20px 20px;	
    color: #fff;
    background-color: #0039a6;

}

#statement #cancel:active {
	background:url('../../image/cancel_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

#statement #bill {
	background:url('../../image/bill.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#statement #bill:hover {
	background:url('../../image/bill_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
  
}

#statement #bill:active {
	background:url('../../image/bill_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}
/*
#statement #search { 	background:url('../../image/Search3.png') no-repeat left;
						background-size:25px 20px;
						padding:5px 5px 5px 30px;
						cursor:pointer;															
}
#statement #update { 	background:url('../../image/edit.png') no-repeat left;
						background-size:25px 20px;
						padding:5px 5px 5px 30px;
						cursor:pointer;															
}
#statement #cancel { 	background:url('../../image/exit.png') no-repeat left;
						background-size:25px 20px;
						padding:5px 5px 5px 30px;
						cursor:pointer;															
}
#statement #bill { 	background:url('../../image/bill.png') no-repeat left;
					background-size:25px 20px;
					padding:5px 5px 5px 30px;
					cursor:pointer;															
}
*/

/*END*/

/*STAT*/
#stat { font-size:12px;
}
#stat .diag_result th{	font-size:14px; border-bottom:2px solid #0039a6;
}
#stat .diag_result td{	border-bottom:2px solid lightgrey;
}
#stat input[type=text] {  width:auto; height:auto;
								/*border: 1px solid #000;
								-moz-box-shadow:inset 2px 2px 5px #202020; /* Firefox */
								/*-webkit-box-shadow:inset 2px 2px 5px #202020; /* Safari, Chrome */
								/*box-shadow:inset 2px 2px 5px #202020; /* CSS3 */
								border:none;
								-webkit-appearance:none;
								padding:6px 5px 5px 10px;
								font-size: 14px;
								border: 1px solid #DDDDDD;
								-webkit-transition: all 0.30s ease-in-out;
								-moz-transition: all 0.30s ease-in-out;
								-ms-transition: all 0.30s ease-in-out;
								-o-transition: all 0.30s ease-in-out;
}
#stat input[type=text]:focus {  	/*background-image: url('../../image/HeaderBG.jpg');
									background-size:100% 100%;*/
									box-shadow: 0 0 5px rgba(81, 203, 238, 1);
									border: 2px solid rgba(81, 203, 238, 1);
}
/*
#stat #search { 	background:url('../../image/Search3.png') no-repeat left;
					background-size:25px 20px;
					padding:5px 5px 5px 25px;
					cursor:pointer;
}
*/

#stat #search {
	background:url('../../image/search.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#stat #search:hover {
	background:url('../../image/search_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
    
}

#stat #search:active {
	background:url('../../image/search_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

/*#stat #search:hover { 	background:url('../../image/search.png') no-repeat left;
							background-size:25px 20px;
							padding:5px 5px 5px 25px;
							cursor:pointer;
							-moz-box-shadow:inset 0px 2px 2px #202020; /* Firefox */
/*							-webkit-box-shadow:inset 0px 2px 2px #202020; /* Safari, Chrome */
/*							box-shadow:inset 0px 2px 2px #202020;
}																				
/*END*/

/*PROFILE*/
#profile { font-size:12px;
}
#profile h3 { 	border-bottom:2px solid #0039a6; width:75%; margin-left:15%;
}
#profile .profile {	margin-left:auto; margin-right:auto;
}
#profile th { 	font-size:14px;
				border-bottom:2px solid #0039a6;
}
#profile .profile td { 	font-size:12px; font-weight:bold;
									
}
#profile input[type=text] {  	width:auto; height:auto;
								/*border: 1px solid #000;
								-moz-box-shadow:inset 2px 2px 5px #202020; /* Firefox */
								/*-webkit-box-shadow:inset 2px 2px 5px #202020; /* Safari, Chrome */
								/*box-shadow:inset 2px 2px 5px #202020; /* CSS3 */
								border:none;
								-webkit-appearance:none;
								padding:6px 5px 5px 10px;
								font-size: 14px;
								border: 1px solid #DDDDDD;
								-webkit-transition: all 0.30s ease-in-out;
								-moz-transition: all 0.30s ease-in-out;
								-ms-transition: all 0.30s ease-in-out;
								-o-transition: all 0.30s ease-in-out;
}
#profile select { 	border:2px solid lightgrey;
					border-top:3px solid grey;
					border-left:3px solid grey;
					padding:2px 2px 2px 5px;						
}
#profile input[type=text]:focus, #profile select:focus {  	/*background-image: url('../../image/HeaderBG.jpg');
									  						background-size:100% 100%;*/
									  						box-shadow: 0 0 5px rgba(81, 203, 238, 1);
														  	border: 2px solid rgba(81, 203, 238, 1);
														  	padding-left:15px;
}
/*
#profile #update { 	background:url('../../image/edit.png') no-repeat left;
					background-size:25px 20px;
					padding:5px 5px 5px 25px;
					cursor:pointer;															
}
#profile #cancel { 	background:url('../../image/exit.png') no-repeat left;
					background-size:25px 20px;
					padding:5px 5px 5px 25px;
					cursor:pointer;															
}
#profile #add { 	background:url('../../image/add.png') no-repeat left;
					background-size:25px 20px;
					padding:5px 5px 5px 25px;
					cursor:pointer;									
}
*/

#profile #update {
	background:url('../../image/edit.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#profile #update:hover {
	background:url('../../image/edit_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
    
}

#profile #update:active {
	background:url('../../image/edit_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

#profile #cancel {
	background:url('../../image/cancel.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#profile #cancel:hover {
	background:url('../../image/cancel_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
    
}

#profile #cancel:active {
	background:url('../../image/exit_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

#profile #add {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#profile #add:hover {
	background:url('../../image/add_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
    
}

#profile #add:active {
	background:url('../../image/add_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}
/*END*/

/*USER*/
#user { font-size:12px;
}
#user .titleupdate { 	border-bottom:2px solid #0039a6; width:50%; margin-left:25%;
}
#user th { 	font-size:14px;
			border-bottom:2px solid #0039a6;
}
#user .user td { 	font-size:12px;
					border-bottom:2px solid lightgrey;			
}
#user input[type=text], #user input[type=password] {  	width:auto; height:auto;
														/*border: 1px solid #000;
														-moz-box-shadow:inset 2px 2px 5px #202020; /* Firefox */
														/*-webkit-box-shadow:inset 2px 2px 5px #202020; /* Safari, Chrome */
														/*box-shadow:inset 2px 2px 5px #202020; /* CSS3 */
														border:none;
														-webkit-appearance:none;
														padding:6px 5px 5px 10px;
														font-size: 14px;
														border: 1px solid #DDDDDD;
														-webkit-transition: all 0.30s ease-in-out;
														-moz-transition: all 0.30s ease-in-out;
														-ms-transition: all 0.30s ease-in-out;
														-o-transition: all 0.30s ease-in-out;
}
#user input[type=text]:focus, #user input[type=password]:focus {  	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
															  		border: 2px solid rgba(81, 203, 238, 1);
}

/*
#user #update { 	background:url('../../image/edit.png') no-repeat left;
					background-size:25px 20px;
					padding:5px 5px 5px 25px;
					cursor:pointer;															
}
#user #cancel { 	background:url('../../image/exit.png') no-repeat left;
					background-size:25px 20px;
					padding:5px 5px 5px 25px;
					cursor:pointer;															
}
#user #add { 	background:url('../../image/add.png') no-repeat left;
				background-size:25px 20px;
				padding:5px 5px 5px 25px;
				cursor:pointer;									
}
*/

#user #add {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#user #add:hover {
	background:url('../../image/add_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
    
}

#user #add:active {
	background:url('../../image/add_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

#user #cancel {
	background:url('../../image/cancel.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#user #cancel:hover {
	background:url('../../image/cancel_hover.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#user #cancel:active {
	background:url('../../image/cancel_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

#user #update {
	background:url('../../image/edit.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#user #update:hover {
	background:url('../../image/edit_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
    
}

#user #update:active {
	background:url('../../image/edit_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

/*END*/

/*MANAGE*/

#manage { font-size:12px; 
}
#manage input[type=text] {  width:auto; height:auto;
							/*border: 1px solid #000;
							-moz-box-shadow:inset 2px 2px 5px #202020; /* Firefox */
							/*-webkit-box-shadow:inset 2px 2px 5px #202020; /* Safari, Chrome */
							/*box-shadow:inset 2px 2px 5px #202020; /* CSS3 */
							border:none;
							-webkit-appearance:none;
							padding:6px 5px 5px 10px;
							font-size: 14px;
							border: 1px solid #DDDDDD;
							-webkit-transition: all 0.30s ease-in-out;
							-moz-transition: all 0.30s ease-in-out;
							-ms-transition: all 0.30s ease-in-out;
							-o-transition: all 0.30s ease-in-out;
}
#manage input[type=text]:focus {  	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
									border: 2px solid rgba(81, 203, 238, 1);
}

/*
manage #search { 	background:url('../../image/Search3.png') no-repeat left;
					background-size:25px 20px;
					padding:5px 5px 5px 25px;
					cursor:pointer;
}
*/

#manage #search {
	background:url('../../image/search.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

#manage #search:hover {
	background:url('../../image/search_hover.png') no-repeat left;
	background-size:20px 20px;
    color: #fff;
    background-color: #0039a6;
    
}

#manage #search:active {
	background:url('../../image/search_hover.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

#manage .line { 	border-bottom:2px solid #0039a6;
					width:100%;
}
#manage .chapters { 	width:70%;
						padding-left:5%;
}
#manage .blocks { 	width:70%;
					padding:0px 5% 0px 5%;
}
#manage .users td { 	border-bottom:2px solid lightgrey;
}

/*END*/

/*HELP*/
#help { font-size:12px; margin-left:30px;
}
#help .pageTitle { 	border-bottom:1px solid darkgray;
					color:white;
					font-size:21px;			 
					font-variant:small-caps;
					font-weight:bold;
					letter-spacing: .1em;
					background-image: url('../../image/MedriksWebsitePageTitleBlueBar.png');
					background-origin:content-box;
					background-repeat:no-repeat;
					background-size:85% 125%;
					margin-left:100px;
					margin-top:5%;
}
/*END*/

/*USERS*/
#users { margin-left:15%; font-size:14px;
}

/*END*/

/*USAGE*/
#usage { margin-left:;
}

/*END*/

/*FOOTER*/
#footer_page { 	padding-top:25%;
}